@import "../../scss/var";

.overview-item {
  display: grid;
  grid-template-columns: 30% 50% 10% 10%;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid $white;
  padding-top: 1em;
}

.overview-item:hover {
  border: 4px solid $white;
  box-shadow: 4px 4px 0px $magenta;
  transform: scale(110%, 110%);
}

.item-showName {
  text-shadow: 2px 2px 0px $magenta;
}

.item-name {
  font-size: 0.6em;
}

.item-type {
  font-size: 0.8em;
  background-color: $blue;
  width: fit-content;
  justify-self: center;
}

.item-airtime {
  justify-self: end;
  color: $yellow;
  font-weight: 700;
}
