header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  background-color: #0001f2;
  padding: 3em;
}

header > h2 {
  color: #f2f100;
}

header > h3 {
  color: white;
}
